* {
  background-origin: padding-box;
  background-clip: padding-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant-ligatures: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 16px;
}

header {
    padding: 1rem;
    border: 1px solid black;
}

nav {
    border: 1px solid black;
    padding: 1rem 1rem;
    min-width: 20ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul ul {
    margin-left:1rem;
}

nav ul li {
    list-style-type: none;
    padding: 0;
    margin:0.5rem 0
}

footer {
    background-color: white;
    border: 1px solid black;
    bottom: 0;
    padding:1rem;
    display: flex;
}
footer nav {
    border:none;
    padding:0;
    margin:0;
    margin-left:1rem;
    flex:1;
    text-align: end;
}
footer nav ul{
    display: flex;
}

main {
    display: flex;
    flex: 1;
}

main section {
    padding: 1rem;
    flex: 1;
    border: 1px solid;
}

main section h2{
    margin-bottom:1rem;
}
main section h3 {
    margin-bottom:1rem;
}

main section p {
    margin-bottom:0.6rem;
}


button {
    user-select: none;
    outline: 0;
    border: 1px solid;
    padding:0.2rem;
    appearance: none;
    line-height: 1ch;
    padding:0.3rem;
}